<html>

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="{{ url_for('static', filename='css/allworkstyle.css') }}" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.10.2/p5.min.js">
    </script>
    <script src="static/js/script.js">
    </script>

</head>
<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #282828;">
    <a class="navbar-brand" href="/home">PSR</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/home">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/aboutme">About Me</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/allwork">All Work</a>
            </li>
        </ul>
    </div>
</nav>

<body>
    <h4>This page has all of the work that has been uploaded. </h4>
    <h4>If you would like to upload work for the betterment of us all click the Upload link. </h4>
    <a href="bumpuswork.html">
        <img src="\static\images\bumpus.jpg" alt="Bumpus Work" style="width:400px;height:400px;position:absolute;left:350px;">
    </a>
    <a href="hooverwork.html">
        <img src="\static\images\hooverhigh.jpg" alt="Bumpus Work" style="width:400px;height:400px;position:absolute;right:350px;">
    </a>
</body>

</html>